*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #D9D9D9;
    padding: 0.5rem 0px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.w-80{
    width: 80%;
    margin: auto;
}
nav ul{
    display: flex;
    column-gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #0E0D0D;
}
header button{
    background-color: #382525;
    color: #FFFFFF;
    padding: 5px 20px;
    border-radius: 10px;
}
/* Hero Section */
#hero-section{
    background-color: #3F1919;
    color: #FFFFFF;
    padding: 86px 0px;
}
.center{
    text-align: center;
}
#hero-section h1,p{
    margin-bottom: 20px;
}
#hero-section button{
    border-radius: 10px;
    background-color: #E26464;
    padding: 14px 28px;
}
/* Grid Section */
#grid-section{
    background-color: #FFFDFD;
    padding: 86px 0px;
    
}
.card-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width: 300px;
    height: 370px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #0E0D0D;
    border-radius: 20px;
}
.author{
    text-align: right;
}
/* Fotter */
footer{
    background-color: #3F1919;
    color: #000000;
    padding: 86px 0px;
}
.footer-row{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    padding: 30px 0px;
    flex-wrap: wrap;
    gap: 10px;
}
.footer-row a{
    color: #000000;
}
.footer-row div{
    width: 180px;
}
.footer-row div h3{
    margin-bottom: 23px;
}
.newsletter{
    display: flex;
}
.newsletter button input{
    padding: 20px 10px;
}
.copyright{
    background-color: #E26464;
    padding: 10px;
}
.copyright ul{
    display: flex;
}
.copyright p{
    margin: 0;
    color: #FFFFFF;
}
.copyright a{
    color: #FFFFFF;
    text-align: right;
}